@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity)); /* bg-gray-800 */
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity)); /* text-white */
  }
}
